{% extends "base.html.twig" %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    <div class="bg admin">

        <h1>Ajouter un produit à la carte</h1>

        <a href="{{path('app_admin_food_list')}}" class="backlink">    <i class="fas fa-arrow-left"></i> Retour à la liste des produits</a>

        <div class="container-form">
            {{form_start(form)}}
                    <div class="form-group">
                        {{form_row(form.title)}}
                    </div>
                    <div class="form-group">
                        {{form_row(form.type)}}
                    </div>
                    <div class="form-group">
                        {{form_row(form.description)}}
                    </div>
                    <div class="form-group">
                        {{form_row(form.price)}}
                    </div>
                    <div class="form-group">
                        {{form_row(form.picture)}}
                    </div>
            {{form_end(form)}}
        </div>

    </div>



{% endblock %}