{% extends "base.html.twig" %}

{% block title %}Desserts - Veggie Noodle{% endblock %}

{% block body %}

    <div class="bg dessert">

        <h1>Une touche sucrée pour finir votre repas ? Voici nos desserts</h1>

        <div class="card-container">

            {% for dessert in desserts %}

                <div class="card">
                    <div class="card-img">
                        <img src="{{ '../uploads/' ~dessert.picture }}" alt="{{'Photo du dessert : ' ~dessert.title}}">
                    </div>
                    <div class="card-text">
                        <h3> {{dessert.title}} </h3>
                        <p> {{dessert.description}} </p>
                        <h4> {{ dessert.price}} €</h4>
                    </div>

                </div>


            {% endfor %}
        </div>

    </div>


{% endblock %}
