{% extends "base.html.twig" %}

{% block title %}Plats - Veggie Noodle{% endblock %}

{% block body %}

    <div class="bg dish">

        <h1>Laissez-vous surprendre par d'exquises pâtes maison !</h1>

        <div class="card-container">

            {% for dish in dishes %}

                <div class="card">
                    <div class="card-img">
                        <img src="{{ '../uploads/' ~dish.picture }}" alt="{{'Photo du plat : ' ~dish.title}}">
                    </div>
                    <div class="card-text">
                        <h3> {{dish.title}} </h3>
                        <p> {{dish.description}} </p>
                        <h4> {{ dish.price}} €</h4>
                    </div>

                </div>


            {% endfor %}
        </div>

    </div>


{% endblock %}