{% extends "base.html.twig" %}

{% block title %}Entrées - Veggie Noodle{% endblock %}

{% block body %}

    <div class="bg starter">

        <h1>Découvrez nos délicieuses entrées</h1>

        <div class="card-container">

            {% for starter in starters %}

                <div class="card">
                    <div class="card-img">
                        <img src="{{ '../uploads/' ~starter.picture }}" alt=" {{'Photo de l\entrée : ' ~starter.title}} ">
                    </div>
                    <div class="card-text">
                        <h3> {{starter.title}} </h3>
                        <p> {{starter.description}} </p>
                        <h4> {{ starter.price}} €</h4>
                    </div>

                </div>


            {% endfor %}
        </div>

    </div>


{% endblock %}